<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">

<dom-module id="data-usuario">

  <template>
    <style>

    </style>

      <iron-ajax
        url="http://localhost:3002/api-peru/v1/usuarios/[[view]]"
        auto
        handle-as="json"
        last-response="{{data}}"
      ></iron-ajax>
      <p><strong>Bienvenido</strong></p>
      <p>Nombre : [[data.nombres]]</p>
      <p>Apellido : [[data.apellidos]]</p>
      <p>DNI : [[data.dni]]</p>
      <p>Celular : [[data.celular]]</p>
      <p>Email : [[data.email]]</p>
      <p>Direccion : [[data.direccion]]</p>
      <p>Ocupacion : [[data.ocupacion]]</p>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DataUsuario extends Polymer.Element {
      static get is() { return 'data-usuario'; }
      static get properties() {
        return {
          view: {
            type: String
          }
        };
      }
    }
    window.customElements.define(DataUsuario.is, DataUsuario);

  </script>
</dom-module>
