<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">

<link rel="import" href="./page-index.html">
<link rel="import" href="./usuario-bbva.html">

<dom-module id="index-views">
  <template>
    <style>
    </style>
    <app-location route="{{route}}"></app-location>
    <app-route
      route="{{route}}"
      pattern="/:page"
      data="{{data}}"
      tail="{{tail}}">
    </app-route>

    <iron-pages selected="[[data.page]]" attr-for-selected="page">
      <page-index page="inicio"></page-index>
      <usuario-bbva page="usuario"></usuario-bbva>
    </iron-pages>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class IndexViews extends Polymer.Element {
      static get is() { return 'index-views'; }
      static get properties() {
        return {
          route: {
            type: Object
          },
          prop1: {
            type: String,
            value: "inicio"
          }
        };
      }
    }

    window.customElements.define(IndexViews.is, IndexViews);
  </script>
</dom-module>
