<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">

<dom-module id="movimientos-usuario">

  <template>
    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }
    </style>

      <iron-ajax
        url="http://localhost:3002/api-peru/v1/usuarios/[[view]]"
        auto
        handle-as="json"
        last-response="{{data}}"
      ></iron-ajax>

      <p>Tus cuentas habilitadas son las siguientes: </p>

      <table>
        <tr>
          <th>N° Cuenta</th>
          <th>Descripcion</th>
          <th>Saldo Contable</th>
          <th>Saldo Disponible</th>
          <th>Divisa</th>
        </tr>
        <template is="dom-repeat" items="{{data.cuentas}}">
          <tr>
            <td>[[item.numCuenta]]</td>
            <td>[[item.desc]]</td>
            <td>[[item.saldoContable]]</td>
            <td>[[item.saldoDisponible.$numberDecimal]]</td>
            <td>[[item.divisa]]</td>
          </tr>
        </template>
      </table>

      <br>
      <label><strong>Visualizar Movimientos</strong></label>
      <br>
      <label>Indicar el numero de cuenta para consultar sus movimientos: </label>
      <input type="text" placeholder="Numero de Cuenta" value="{{nCuenta::input}}">
      <button on-click="visualizar">Consultar</button>
      <br>

      <iron-ajax
        id="movajax"
        url="http://localhost:3002/api-peru/v1/movNumCuenta/[[nCuenta]]"
        handle-as="json"
        loading="{{cargando}}"
        method="GET"
        content-type="application/json"
        on-response="respuestaMovimiento"
        on-error="errorMovimiento"
      ></iron-ajax>

      <table>
        <tr>
          <th>N° Movimiento</th>
          <th>Descripcion</th>
          <th>Monto</th>
          <th>Moneda</th>
          <th>Fecha</th>
        </tr>
        <template is="dom-repeat" items="{{movimientos}}">
          <tr>
            <td>[[item.idMovimiento]]</td>
            <td>[[item.descripcion]]</td>
            <td>[[item.monto]]</td>
            <td>[[item.moneda]]</td>
            <td>[[item.fecha]]</td>
          </tr>
        </template>
      </table>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MovimientosUsuario extends Polymer.Element {
      static get is() { return 'movimientos-usuario'; }
      static get properties() {
        return {
          view: {
            type: String
          }
        };
      }

      visualizar() {
        this.$.movajax.generateRequest();
      }

      respuestaMovimiento(e, request) {
        if(request.succeeded) {
          // this.mensaje = 'la solicitud se resolvió correctamente con código ' + request.login
          this.movimientos = request.response.array
        } else {
          this.mensaje = 'la solicitud nos ofreció resultados incorrectos, con código ' + request.status
        }
      }

      errorMovimiento(e, error) {
        console.log(error.request.status);
        this.mensaje = 'Error en la solicitud, con código ' + error.request.status;
      }

    }
    window.customElements.define(MovimientosUsuario.is, MovimientosUsuario);

  </script>
</dom-module>
