<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">

<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">

<link rel="import" href="../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../bower_components/app-layout/app-header-layout/app-header-layout.html">

<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">

<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">

<link rel="import" href="../../bower_components/iron-media-query/iron-media-query.html">

<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">

<link rel="import" href="../../bower_components/iron-image/iron-image.html">

<link rel="import" href="../../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer/app-drawer.html">

<link rel="import" href="./page-register.html">
<link rel="import" href="./login-bbva.html">

<dom-module id="page-index">
  <template>
    <style>
      app-toolbar {
        background-color: #072146;
      }

      a{
        text-decoration:none;
      }

      .crear{
        background-color: #072146;
        font-weight: bolder;
        color: #f8cd51;
        margin: 10px;
        padding: 10px;
      }

      .login{
        background-color: #028484;
        font-weight: bolder;
        color: white;
        margin: 10px;
        padding: 10px;
      }

      paper-icon-button {
        color: #FFFFFF;
      }

      [hidden] {
        display: none !important;
      }
    </style>
    <!-- Pagina de inicio -->
    <app-drawer-layout force-narrow>

      <app-drawer id="drawer" slot="drawer">
        <app-toolbar><span style="font-size:40px;color:white">BBVA</span></app-toolbar>
            <!-- Nav on mobile: side nav menu -->
            <paper-listbox selected="0">
                <paper-item><a style="color:black" href="/inicio/register">Crear una cuenta</a></paper-item>
                <paper-item><a style="color:black" href="/inicio/login">Banca por Internet</a></paper-item>
            </paper-listbox>

      </app-drawer>

      <app-header-layout>
          <app-header class="main-header" slot="header">

              <app-toolbar>
                <paper-icon-button class="menu-button" icon="menu" drawer-toggle hidden$="{{wideLayout}}"></paper-icon-button>
                <span style="font-size:40px;color:white">BBVA</span>
              </app-toolbar>

              <app-toolbar class="tall" hidden$="{{!wideLayout}}">
                <!-- Nav on desktop: tabs -->
                <div main-title style="color:white"><strong>PERSONAS</strong></div>
                <a class="crear" href="/inicio/register">Crear una cuenta</a>
                <a class="login" href="/inicio/login">Banca por Internet</a>
              </app-toolbar>

          </app-header>
      </app-header-layout>

    </app-drawer-layout>

    <iron-media-query query="min-width: 700px" query-matches="{{wideLayout}}"></iron-media-query>
    <!-- cambio de pagina -->
    <app-location route="{{route}}"></app-location>
    <app-route
      route="{{route}}"
      pattern="/:page/:id"
      data="{{data}}"
      tail="{{tail}}">
    </app-route>

    <iron-pages selected="[[data.id]]" attr-for-selected="page">
      <page-register page="register"></page-register>
      <login-bbva page="login"></login-bbva>
    </iron-pages>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class PageIndex extends Polymer.Element {
      static get is() { return 'page-index'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'inicio'
          },
        };
      }
    }

    window.customElements.define(PageIndex.is, PageIndex);
  </script>
</dom-module>
