<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">

<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">

<dom-module id="page-register">

  <template>
    <style>
      paper-button {
        background: #03a9f4;
        color: white;
      }
      .formulario {
         margin: 0 auto;
         text-align: center;
         width: 400px;
      }

      paper-input{
        margin: 0 auto;
        text-align: left;
        width: 300px;
      }

      .boton{
        padding: 20px;
      }

      .indice{
        color:#666666;
        font-size:40px;
      }

      .container{
        display:flex;
        flex-direction:row;
      }
    </style>

    <div class="formulario">
      <span class="indice">Registro de Usuario</span>
      <div class="container">
        <paper-input style="width: 200px;" name="documento" label="Numero de DNI" value="{{documento::input}}" required></paper-input>
        <paper-button style="height: 40px;margin-top: 20px;margin-right: 50px" raised on-click="reniecC">Buscar</paper-button>
      </div>
      <div class="container">
        <paper-input style="width: 180px;" name="nombre" label="Nombres" value="{{nombre::input}}" disabled></paper-input>
        <paper-input style="width: 180px;" name="apellido" label="Apellidos" value="{{apellidos::input}}" disabled></paper-input>
      </div>
      <paper-input name="celular" label="Celular" value="{{celular::input}}" required></paper-input>
      <paper-input name="email" label="Email" value="{{email::input}}" required></paper-input>
      <paper-input name="divisa" label="Divisa" value="{{divisa::input}}" required></paper-input>
      <paper-input name="direccion" label="Direccion: 1234 Main St" value="{{direccion::input}}" required></paper-input>
      <paper-input name="ocupacion" label="Ocupacion" value="{{ocupacion::input}}" required></paper-input>
      <div class="boton">
        <paper-button raised on-click="registro">Registrar</paper-button>
      </div>
    </div>

    <iron-ajax
      id="reniecajax"
      url="http://localhost:3002/api-peru/v1/people/[[documento]]"
      handle-as="json"
      loading="{{cargando}}"
      method="GET"
      content-type="application/json"
      on-response="respuestaReniec"
      on-error="errorReniec"
    ></iron-ajax>

    <iron-ajax
      id="registroajax"
      url="http://localhost:3002/api-peru/v1/usuarios2"
      handle-as="json"
      loading="{{cargando}}"
      method="POST"
      content-type="application/json"
      on-response="respuestaRegistro"
      on-error="errorRegistro"
    ></iron-ajax>

    <paper-dialog id="modalReniec" entry-animation="scale-up-animation" exit-animation="fade-out-animation" with-backdrop>
      <h2>Verificacion en Reniec</h2>
      <p>[[mensajeReniec]]</p>
    </paper-dialog>

    <paper-dialog id="modalRegistro" entry-animation="scale-up-animation" exit-animation="fade-out-animation" with-backdrop>
      <h2>Respuesta de registro</h2>
      <p>[[mensajeRegistro]]</p>
    </paper-dialog>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class PageRegister extends Polymer.Element {
      static get is() { return 'page-register'; }
      static get properties() {
        return {
          documento: {
            type: String
          },
          nombre:{
            type: String
          },
          apellidos:{
            type: String
          },
          celular:{
            type: Number
          },
          email:{
            type: String
          },
          divisa:{
            type: String
          },
          direccion:{
            type: String
          },
          ocupacion:{
            type: String
          }
        };
      }

      reniecC() {
        this.$.reniecajax.generateRequest();
        this.$.modalReniec.open();
      }

      respuestaReniec(e, request) {
        if(request.succeeded) {
          // this.mensaje = 'la solicitud se resolvió correctamente con código ' + request.login
          this.nombre = request.response["nombres"]
          this.apellidos = request.response["apellidoPaterno"]+ " " + request.response["apellidoMaterno"]
          this.mensajeReniec = 'Nombres y apellidos encontrados.'
        } else {
          this.mensajeReniec = 'Numero de documento incorrecto, con código de status: ' + request.status
        }
      }

      errorReniec(e, error) {
        console.log(error.request.status);
        this.mensajeReniec = 'Error en el servidor de la Reniec, con código de status: ' + error.request.status;
      }

      registro() {
      var contacto = {
          "dni":this.documento,
          "nombres":this.nombre,
          "apellidos":this.apellidos,
          "celular":this.celular,
          "email":this.email,
          "divisa":this.divisa,
          "requisitos":true,
          "direccion":this.direccion,
          "tipoCuenta":"CUENTA GANADORA",
          "ocupacion":this.ocupacion
        };
        this.$.registroajax.body = contacto;
        this.$.registroajax.generateRequest();
        this.$.modalRegistro.open();
      }

      respuestaRegistro(e, request) {
        if(request.succeeded) {
          this.mensajeRegistro = "Se ha registrado; validar sus credenciales en su correo."
        } else {
          this.mensajeRegistro = 'No se ha podido registrar, código ' + request.status
        }
      }

      errorRegistro(e, error) {
        console.log(error.request.status);
        this.mensajeRegistro = 'Error en la solicitud, con código ' + error.request.status;
      }
    }
    window.customElements.define(PageRegister.is, PageRegister);

  </script>
</dom-module>
