<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">

<dom-module id="page-update">

  <template>
    <style>
      paper-button {
        background: #03a9f4;
        color: white;
      }
      .formulario {
         margin: 0 auto;
         text-align: center;
         width: 400px;
      }

      paper-input{
        margin: 0 auto;
        text-align: left;
        width: 300px;
      }

      .boton{
        padding: 20px;
      }

      .indice{
        color:#666666;
        font-size:25px;
      }
    </style>
    <div class="formulario">
      <span class="indice">Actualizar Celular del Cliente</span>
      <paper-input name="documento" label="Digite su dni" value="{{dni::input}}" required></paper-input>
      <paper-input name="celular" label="Nuevo celular de contacto" value="{{celular::input}}" required></paper-input>
      <div class="boton">
        <paper-button raised on-click="updatecel">Actualizar</paper-button>
      </div>
    </div>

    <iron-ajax
      id="elajax"
      url="http://localhost:3002/api-peru/v1/usuarios/[[dni]]"
      handle-as="json"
      loading="{{cargando}}"
      method="PUT"
      content-type="application/json"
      on-response="respuestaUpdate"
      on-error="errorUpdate"
    ></iron-ajax>

    <paper-dialog id="modalActualizar" entry-animation="scale-up-animation" exit-animation="fade-out-animation" with-backdrop>
      <h2>Mensaje de actualizacion</h2>
      <p>[[mensajeActualizar]]</p>
    </paper-dialog>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class PageUpdate extends Polymer.Element {
      static get is() { return 'page-update'; }
      static get properties() {
        return {
          celular: {
            type: String
          },
          dni:{
            type: String
          }
        };
      }

      updatecel(){
      var contacto = {
          "celular":this.celular
        };
        this.$.elajax.body = contacto;
        this.$.elajax.generateRequest();
        this.$.modalActualizar.open();
      }

      respuestaUpdate(e, request) {
        if(request.succeeded) {
          // this.mensaje = 'la solicitud se resolvió correctamente con código ' + request.login

          this.mensajeActualizar = 'Su numero de telefono ha sido actualizado'//'la persona con dni ' + request.response["dni"]+" se ha registrado"
        } else {
          this.mensajeActualizar = 'No se pudo actualizar su numero' //'la solicitud nos ofreció resultados incorrectos, con código ' + request.status
        }
      }

      errorUpdate(e, error) {
        console.log(error.request.status);
        this.mensajeActualizar = 'Error con el servidor, no se actualizo el numero';
      }
    }
    window.customElements.define(PageUpdate.is, PageUpdate);

  </script>
</dom-module>
