<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">

<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">

<link rel="import" href="../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../bower_components/app-layout/app-header-layout/app-header-layout.html">

<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">

<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">

<link rel="import" href="../../bower_components/iron-media-query/iron-media-query.html">

<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">

<link rel="import" href="../../bower_components/iron-image/iron-image.html">

<link rel="import" href="../../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer/app-drawer.html">

<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">

<link rel="import" href="./page-update.html">
<link rel="import" href="./data-usuario.html">
<link rel="import" href="./movimientos-usuario.html">
<link rel="import" href="./realizar-movimiento.html">

<dom-module id="usuario-bbva">

  <template>
    <style>
    app-toolbar {
      background-color: #072146;
    }

    a{
      text-decoration:none;
    }

    .vista{
      background-color: #028484;
      font-weight: bolder;
      font-size:17px;
      color: white;
      margin: 10px;
      padding: 5px;
    }

    paper-icon-button {
      color: #FFFFFF;
    }

    [hidden] {
      display: none !important;
    }
    </style>

    <app-location route="{{route}}"></app-location>
    <app-route
      route="{{route}}"
      pattern="/:page/:operacion"
      data="{{data}}"
      tail="{{tail}}">
    </app-route>

    <app-drawer-layout force-narrow>

      <app-drawer id="drawer" slot="drawer">
        <app-toolbar><span style="font-size:40px;color:white">BBVA</span></app-toolbar>
            <!-- Nav on mobile: side nav menu -->
            <paper-listbox selected="0">
                <paper-item><a style="color:black" href="/usuario/info">Datos usuario</a></paper-item>
                <paper-item><a style="color:black" href="/usuario/editar">Editar usuario</a></paper-item>
                <paper-item><a style="color:black" href="/usuario/consulta">Consulta Movimientos</a></paper-item>
                <paper-item><a style="color:black" href="/usuario/pagar">Pagar Tarjeta</a></paper-item>
                <paper-item><paper-button class="vista" raised on-click="desconectar">Cerrar Sesion</paper-button></paper-item>
            </paper-listbox>

      </app-drawer>

      <app-header-layout>
          <app-header class="main-header" slot="header">

              <app-toolbar>
                <paper-icon-button class="menu-button" icon="menu" drawer-toggle hidden$="{{wideLayout}}"></paper-icon-button>
                <span style="font-size:40px;color:white">BBVA</span>
              </app-toolbar>

              <app-toolbar class="tall" hidden$="{{!wideLayout}}">
                <!-- Nav on desktop: tabs -->
                <a class="vista" href="/usuario/info">Datos usuario</a>
                <a class="vista" href="/usuario/editar">Editar usuario</a>
                <a class="vista" href="/usuario/consulta">Consulta Movimientos</a>
                <a class="vista" href="/usuario/pagar">Pagar Tarjeta</a>
                <paper-button class="vista" raised on-click="desconectar">Cerrar Sesion</paper-button>
              </app-toolbar>

          </app-header>
      </app-header-layout>

    </app-drawer-layout>

    <iron-media-query query="min-width: 700px" query-matches="{{wideLayout}}"></iron-media-query>

    <iron-pages selected="[[data.operacion]]" attr-for-selected="operacion">
      <data-usuario operacion="info" view=[[dni]]></data-usuario>
      <page-update operacion="editar"></page-update>
      <movimientos-usuario operacion="consulta" view="[[dni]]"></movimientos-usuario>
      <realizar-movimiento operacion="pagar" view="[[dni]]"></realizar-movimiento>
    </iron-pages>

    <iron-ajax
      id="elajax"
      url="http://localhost:3002/api-peru/v1/logout"
      handle-as="json"
      loading="{{cargando}}"
      method="POST"
      content-type="application/json"
      on-response="respuestaRecibida"
      on-error="errorRecibido"
    ></iron-ajax>

    <paper-dialog id="modalDesconectar" entry-animation="scale-up-animation" exit-animation="fade-out-animation" with-backdrop>
      <p>[[mensajeDesconectar]]</p>
    </paper-dialog>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class UsuarioBbva extends Polymer.Element {
      static get is() { return 'usuario-bbva'; }
      static get properties() {
        return {
          dni: {
            type: String,
            value: sessionStorage.getItem("documento")
          }
        };
      }

      desconectar() {
        var contacto = {
            "user": sessionStorage.getItem("usuario"),
            "password": sessionStorage.getItem("contrasena"),
        };
        this.$.elajax.body = contacto;
        this.$.elajax.generateRequest();
        this.$.modalDesconectar.open();
      }

      respuestaRecibida(e, request) {
        if(request.succeeded) {
          // this.mensaje = 'la solicitud se resolvió correctamente con código ' + request.login
          this.mensajeDesconectar = "El logout se resolvió correctamente: " + request.response["logout"]
          sessionStorage.clear()
          var ruta = "http://"+location.host+"/inicio"
          location.assign(ruta)
        } else {
          this.mensajeDesconectar = 'la solicitud nos ofreció resultados incorrectos, con código ' + request.status
        }
      }

      errorRecibido(e, error) {
        console.log(error.request.status);
        this.mensajeDesconectar = 'Error en la solicitud, con código ' + error.request.status;
      }
    }
    window.customElements.define(UsuarioBbva.is, UsuarioBbva);

  </script>
</dom-module>
